.Header ul {
  padding: 10px 0;
}
.Header.light ul {
  background: #7fff00;
}
.Header.dark ul {
  background: #e4a10f;
}
.Header ul li {
  display: inline-block;
  margin-right: 20px;
}
.Header ul li a.active {
  font-weight: bold;
}

.Header ul li.theme-switch {
  position: absolute;
  right: 0;
}
