.Header {
  margin: 0;
  height: 50px;
}
.Header li {
  display: inline-block;
}
.Header li a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

.Header li a.active {
  background-color: cadetblue;
}
