.App {
  font-size: 25px;
}
.Header {
  background-color: aquamarine;
}
.Header ul li {
  display: inline-block;
}
.Header ul li a {
  margin-left: 20px;
}
.Header ul li a.active {
  background-color: firebrick;
  padding: 5px;
  color: white;
}
